div#titleTriangle
    h1.dev-name Renan Dias
    h2.dev-title Web developer
    div.ui-triangle.medium
        each network in socialNetworks
            div.ui-triangle.small(style="background:#{network.color}")
                a(href="#{network.link}", title="#{network.name}")
                    span.hidden #{network.name}
                    img(src="./img/social/#{network.logo}", alt="#{network.name}")
