div#developerInfo.triangle
    h1.dev-name Teste Test
    h2.dev-title Tes Testetest
    div.dev-links
        each network in socialNetworks
            div.link(style="background:#{network.color}").triangle
                a(href="#{network.link}", title="#{network.name}")
                    span.hidden #{network.name}
                    img(src="./img/social/#{network.logo}", alt="#{network.name}")
